In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import scipy
from sklearn.preprocessing import MinMaxScaler,StandardScaler,Normalizer,Binarizer

In [38]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
names = ['fixed acidity',"volatile acidity","citric acid","residual sugar","chlorides","free sulfur dioxide","total sulfur dioxide","density","pH","sulphates","alcohol","quality"]
df = pd.read_csv(url)

In [47]:
df[names] = df['fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"'].apply(lambda x: pd.Series(str(x).split(";")))

In [50]:
df.drop(columns = 'fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"',inplace= True)

In [56]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.6,0.08,2,0.09,32,44,0.9949,3.45,0.58,10.5,5
1595,5.9,0.55,0.1,2.2,0.062,39,51,0.99512,3.52,0.76,11.2,6
1596,6.3,0.51,0.13,2.3,0.076,29,40,0.99574,3.42,0.75,11,6
1597,5.9,0.645,0.12,2,0.075,32,44,0.99547,3.57,0.71,10.2,5
1598,6,0.31,0.47,3.6,0.067,18,42,0.99549,3.39,0.66,11,6

In [54]:
array = df.values

In [61]:
X = df.drop(columns = "quality")
y = df["quality"]

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: object

In [85]:
scaler = MinMaxScaler(feature_range = (0,1))
rescaledX = scaler.fit_transform(X)
np.set_printoptions(precision=3)
rescaledX[0:5,:]

array([[0.248, 0.397, 0.   , 0.068, 0.107, 0.141, 0.099, 0.568, 0.606,
        0.138, 0.154],
       [0.283, 0.521, 0.   , 0.116, 0.144, 0.338, 0.216, 0.494, 0.362,
        0.21 , 0.215],
       [0.283, 0.438, 0.04 , 0.096, 0.134, 0.197, 0.17 , 0.509, 0.409,
        0.192, 0.215],
       [0.584, 0.11 , 0.56 , 0.068, 0.105, 0.225, 0.191, 0.582, 0.331,
        0.15 , 0.215],
       [0.248, 0.397, 0.   , 0.068, 0.107, 0.141, 0.099, 0.568, 0.606,
        0.138, 0.154]])

In [88]:
scaler = StandardScaler().fit(X)

In [87]:
rescaledX = scaler.transform(X)

In [82]:
np.set_printoptions(precision=3)

In [84]:
rescaledX[0:5,:]

array([[-0.528,  0.962, -1.391, -0.453, -0.244, -0.466, -0.379,  0.558,
         1.289, -0.579, -0.96 ],
       [-0.299,  1.967, -1.391,  0.043,  0.224,  0.873,  0.624,  0.028,
        -0.72 ,  0.129, -0.585],
       [-0.299,  1.297, -1.186, -0.169,  0.096, -0.084,  0.229,  0.134,
        -0.331, -0.048, -0.585],
       [ 1.655, -1.384,  1.484, -0.453, -0.265,  0.108,  0.412,  0.664,
        -0.979, -0.461, -0.585],
       [-0.528,  0.962, -1.391, -0.453, -0.244, -0.466, -0.379,  0.558,
         1.289, -0.579, -0.96 ]])

In [90]:
scaler = Normalizer().fit(X)
normalizedX = scaler.transform(X)
np.set_printoptions(precision=3)
print(normalizedX[0:5,:])

[[1.952e-01 1.846e-02 0.000e+00 5.011e-02 2.004e-03 2.901e-01 8.966e-01
  2.631e-02 9.257e-02 1.477e-02 2.479e-01]
 [1.072e-01 1.210e-02 0.000e+00 3.575e-02 1.347e-03 3.437e-01 9.212e-01
  1.370e-02 4.400e-02 9.349e-03 1.347e-01]
 [1.355e-01 1.320e-02 6.946e-04 3.994e-02 1.598e-03 2.605e-01 9.378e-01
  1.731e-02 5.661e-02 1.129e-02 1.702e-01]
 [1.744e-01 4.359e-03 8.718e-03 2.958e-02 1.168e-03 2.647e-01 9.341e-01
  1.554e-02 4.920e-02 9.030e-03 1.526e-01]
 [1.952e-01 1.846e-02 0.000e+00 5.011e-02 2.004e-03 2.901e-01 8.966e-01
  2.631e-02 9.257e-02 1.477e-02 2.479e-01]]

In [92]:
binarizer = Binarizer(threshold=0.0).fit(X)
binaryX = binarizer.transform(X)
np.set_printoptions(precision=3)
print(binaryX[0:5,:])

[[1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.]]

In [93]:
scaler=StandardScaler().fit(X)
rescaledX=scaler.transform(X)
rescaledX[0:5]

array([[-0.528,  0.962, -1.391, -0.453, -0.244, -0.466, -0.379,  0.558,
         1.289, -0.579, -0.96 ],
       [-0.299,  1.967, -1.391,  0.043,  0.224,  0.873,  0.624,  0.028,
        -0.72 ,  0.129, -0.585],
       [-0.299,  1.297, -1.186, -0.169,  0.096, -0.084,  0.229,  0.134,
        -0.331, -0.048, -0.585],
       [ 1.655, -1.384,  1.484, -0.453, -0.265,  0.108,  0.412,  0.664,
        -0.979, -0.461, -0.585],
       [-0.528,  0.962, -1.391, -0.453, -0.244, -0.466, -0.379,  0.558,
         1.289, -0.579, -0.96 ]])

In [ ]:
# the values are scaled between -1 and 1 using standard scaling and than print a part of dataset inorder to check